<!DOCTYPE html>
<html dir="ltr" lang="en-US" ng-app="LASite">
<head>
    <base href="@Url.Content("~/")" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    @Styles.Render("~/bundles/css")
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Юридическая помощь</title>
</head>

<body class="stretched no-transition">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        @Html.Partial("Header")

        @RenderBody()

        @Html.Partial("SupportProjectModal")

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)
</body>
</html>